
.footermain {
    width: 100%;
    height: 300px;
    background-color: #fafafa;
}

.footer {
    height: 300px;
}

.companydetails ul li {
    list-style: none;
    gap: 5px;
}
.companydetails {
    margin-top: 50px;
}

.infodetails {
    margin-top: 50px;
}

.iconsfooter {
    margin-top: 50px;
}
.infofooter{
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}
.logofooter {
    margin-top: 50px;
}
.companyfooter{
    padding-left: 0;
}