.nav ul li {
    list-style: none;
    float: left;
    margin-left: 30px;
}

.nav {
    margin-right: 30px;
}

.navbutton {
    border: none;
    background: none;
}

.navbar {
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px -6px 23px #000;
}

.navbarlogo {
    margin-left: 30px;
}
.logo{
    width: 80px;
    height: 50px;

}
.btnnav{
    text-decoration: none;
    color: #000;
}