
.bgcolor {
    background-color: #193066;
    border-radius: 10px;
    padding: 2%;
    justify-content: space-between;
}
.box {
    height: 200px;
    display: flex;
    align-items: center;
}

.input {
    /* width:10%; */
    height: 50px;
    margin-top: 23px;
    border-radius: 5px;
    padding-left: 30px;
}

.inputs {
    /* width:10%; */
    height: 50px;
    border-radius: 5px;
    padding-left: 30px;
}
.button {
    height: 50px;
    width: 100%;
    background-color: #C50B06;
    color: #fff;
    border: none;
    margin-top: 23px;
    border-radius: 5px;

}
.return {
    color: #fff;
}