.bgcolor {
    background-color: #193066;
    border-radius: 10px;
    padding: 2%;
    justify-content: space-between;
}

.box {
    height: 200px;
    display: flex;
    align-items: center;
}

.input {
    height: 50px;
    margin-top: 23px;
    border-radius: 5px;
    padding-left: 30px;
}
.size-4{
    width: 60px;
    height: 20px;
}

.inputs {
    height: 50px;
    border-radius: 5px;
    padding-left: 30px;
}

.button {
    height: 50px;
    width: 80px;
    background-color: #05ac4a;
    color: #fff;
    border: none;
    margin-top: 23px;
    border-radius: 5px;

}

.return {
    color: #fff;
}